header {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  justify-content: flex-end;
  --header-width: 275px;
}

header > div {
  width: var(--header-width);
  transition: width 200ms linear;
}

.nav-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  padding: 56px .5rem 1rem;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  overflow-x:hidden;
  justify-content: space-between;
}

.nav-btns {
  display: flex;
  flex-direction: column;
  align-items:start;
  width: 100%;
}

.nav-btns a {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: var(--fs-large);
  padding: 12px;
  border-radius: 9999px;
  background-color: transparent;
  color: var(--text-color);
  border:none;
  cursor: pointer;
}

.nav-btns a:hover {
  background-color: color-mix(in srgb, white 10%, var(--background-color) 90%);
}

.nav-btns a:focus-visible {
  outline: 2px solid white;
}

.nav-btns a > span {
  margin-left: 20px;
  margin-right: 16px;
}

.nav-btns a.active {
  font-weight: 700;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: transparent;
}


.nav-icon {
  width: 1.75rem;
  height: 1.75rem;
  min-height: 0px;
}

.nav-icon svg {
  filter: invert(0);
  width: 100%;
  object-fit: contain;
}

.nav-icon svg path {
  stroke: var(--text-color);
}

.profiles-btn {
  padding: 12px;
  border: none;
  border-radius: 9999px;
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  cursor: pointer;
  font-size: inherit;
  overflow: hidden;
}

.profiles-btn:hover {
  background-color: color-mix(in srgb, var(--background-color) 90%, var(--text-color) 10%);
}

.profiles-btn:active {
  background-color: color-mix(in srgb, var(--background-color) 85%, var(--text-color) 15%);
}

.profiles-pic {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  background-color: color-mix(in srgb, var(--background-color) 80%, var(--text-color) 20%);
  border-radius: 50%;
}

.profiles-pic img, 
.profiles-pic svg {
  object-fit: cover;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}


.profiles-text {
  margin-left: 12px;
  margin-right: 12px;
  display: block;
  align-items: start;
  flex:1;
  min-width: 0;
}

.profiles-text div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.profiles-text span {
  text-align: start;
}

.navbar-sm-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.post-btn-sm {
  display:flex;
  border:none;
  border-radius: 50%;
  background: var(--secondary-color);
  height: 56px;
  width: 56px;
  padding: .75rem;
  cursor: pointer;
}

.navbar-sm {
  border-top: 1px solid var(--border-color);
  background-color: var(--background-color);
  width: 100%;
}
.navbar-sm > .nav-btns {
  flex-direction: row;
  width: 100%;
  padding: 5px 0;
  justify-content: space-around;
} 

.mobile-nav-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  z-index: 5;
  background-color: var(--popup-background);
}

.mobile-nav {
  background-color: var(--background-color);
  max-width: 280px;
  height: 100%;
}

@media (max-width: 1260px) {
  header {
    --header-width: 88px
  }

  .nav-btns a > span {
    display: none;
  }

  .profiles-btn {
    width: fit-content
  }

  .nav-btns {
    align-items: center;
  }

  .profiles-text {
    display:none;
  }

  .nav-menu-btn {
    border: none !important;
    padding: 0 !important;
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    padding: 7px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    box-sizing: border-box;
  }

  .nav-menu-btn:hover {
    background-color: color-mix(in srgb, var(--background-color) 90%, var(--text-color) 10%);
  }

  .nav-menu-btn:active {
    background-color: color-mix(in srgb, var(--background-color) 80%, var(--text-color) 20%);
  }

  .nav-menu-btn > img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mobile-nav-menu {
    display: flex;
    flex-direction: column;
  }

  .mobile-nav-menu a {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: var(--fs-large);
    color: var(--text-color);
    font-weight: 900;
    align-items: center;
  }

  .mobile-nav-menu a:active {
    background-color: color-mix(in srgb, var(--background-color) 90%, var(--text-color) 10%);
  }
}


.post-btn-lg {
  font-size: var(--fs-large);
  line-height: var(--fs-large);
  padding: 12px;
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  border: none;
  border-radius: 9999px;
  width: 100%;
  cursor: pointer;
  height: 50px;
  place-content: center;
}

.post-btn-lg:visited {
  text-decoration: none;
  color: var(--background-color);
}

.post-btn-lg:hover {
  background-color: color-mix(in srgb, var(--text-color) 90%, black 10%);
}

.post-btn-lg:focus-visible {
  outline: 2px solid white;
}

.post-btn-lg svg {
  filter: invert(0);
  width: 100%;
  object-fit: contain;
  display:none;
}

@media (max-width: 1260px) {
  .post-btn-lg {
    width: 52px;
  }
  .post-btn-lg span {
    display:none;
  }

  .post-btn-lg svg {
    display:block;
  }
}
