.context-menu {
  position: fixed;
  border: 1px solid var(--border-color);
  width: 250px;
  border-radius: 20px;
  background-color: var(--background-color);
  z-index: 9999;
}

.menu-content {
  padding: 12px 0;
}

.menu-option a {
  display: inline-block;
  padding: 0 12px;
  color: var(--text-color);
  vertical-align: center;
  line-height: 40px;
  font-weight: 600;
  width: 100%;
  font-size: var(--fs-medium);
}

.menu-option a:hover {
  background-color: color-mix(in srgb, var(--background-color) 90%, var(--text-color) 10%);
}