
.banner-container {
  aspect-ratio: 3 / 1;
  width: 100%;
  background-color: color-mix(in srgb, var(--background-color) 80%, var(--text-color) 20%);
}

.profile {
  --loader-height: 35px;
  min-height: 400px;
}

.profile-content {
  aspect-ratio: 3 / 1;
  width: 100%;
  padding: 12px 16px 0 16px;
  margin-bottom: 1rem;
}

.profile-picture {
  aspect-ratio: 1 / 1;
  width: 25%;
  border-radius: 50%;
  margin-top: -15%;
  margin-bottom: 12px;
  border: 4px solid var(--background-color);
  background-color: color-mix(in srgb, var(--background-color) 80%, var(--text-color) 20%);
}


.edit-profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-banner {
  position: relative;
  aspect-ratio: 3 / 1;
  width: 100%;
  background-color: color-mix(in srgb, var(--background-color) 80%, var(--text-color) 20%);
}

.edit-profile-pic {
  position: relative;
  max-width: 115px;
  min-width: 75px;
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--background-color) 80%, var(--text-color) 20%);
  border: 5px solid black;
  margin-top: -10%;
  margin-left: .5rem;
  overflow: hidden;
}


.edit-profile-pic img.profile-preview,
.profile-picture>img,
.profile-picture>svg {
  border-radius: 50%;
}

.profile-picture img,
.banner-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

img.profile-preview,
img.banner-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
  user-select: none;
}


.upload-image {
  background-color: var(--transparent-300);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 150ms ease-in;
  z-index: 1;
}

.upload-image:hover {
  background-color: color-mix(in srgb, var(--transparent-300) 95%, var(--text-color) 5%);
}

.upload-image:active {
  background-color: color-mix(in srgb, var(--transparent-300) 90%, var(--text-color) 10%);
}

.upload-image svg {
  width: 100%;
  object-fit: contain;
}

.edit-profile-form {
  padding-left: 1rem;
  padding-right: 1rem;
}