.post-btn-lg {
  font-size: var(--fs-large);
  padding: 12px;
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  border-radius: 9999px;
  width: 100%;
  cursor: pointer;
}

.post-btn-lg:hover {
  background-color: color-mix(in srgb, var(--text-color) 90%, black 10%);
}

.post-btn-lg:focus-visible {
  outline: 2px solid white;
}

.post-btn-lg svg {
  filter: invert(0);
  width: 100%;
  object-fit: contain;
  display:none;
}

#post-text{
  background-color: var(--background-color);
  color: var(--text-color);
  outline: none;
  border: none;
  font-size: var(--fs-large);
  resize: none;
  margin-left: .5rem;
  line-height: var(--fs-large) + 10px;
  margin-top: calc(20px - (var(--fs-large) + 10px) / 2);
  flex: 1;
}

.post-form {
  padding: .5rem 1rem 1rem 1rem;
}

.post-form hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.form-post-wrapper form {
  flex: 1;
}

.icon-img-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--background-color) 50%, white 50%);
}

.icon-img-wrapper img, 
.icon-img-wrapper svg{
  border-radius: 50%;
  transform: scale(1.05);
}

.post-options {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 1260px) {
  .post-btn-lg {
    width: 52px;
  }
  .post-btn-lg span {
    display:none;
  }

  .post-btn-lg svg {
    display:block;
  }
}
