.post-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: .5rem;
}

.post-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.post-text a:visited { 
  color: var(--link-color);
}

.post-text a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.post-p-pic {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}

.post-p-pic img,
.post-p-pic svg {
  border-radius: 50%;
  display: block;
}

.name:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.show-more {
  background-color: var(--background-color);
  color: var(--link-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: var(--fs-m);
}

.show-more:hover,
.show-more:focus-visible{
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.post-btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(var(--fs-small) + 2px);
  gap: 4px;
  color: var(--text-color-dimm);
  --active-color: var(--secondary-color);
}

.post-btn-group.repost {
  --active-color: rgb(0, 186, 124);
  ;
}

.post-btn-group.like {
  --active-color: rgb(249, 24, 128);
}

.post-i-btn {
  height: 18.75px;
  width: 18.75px;
  position: relative;
}

.post-i-btn div {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
  height: 34.75px;
  width: 34.75px;
  border-radius: 50%;

}

.post-i-btn div:hover {
  background-color: color-mix(in srgb, var(--active-color), transparent 85%);
}

.post-i-btn:focus-visible div {
  background-color: color-mix(in srgb, var(--active-color), transparent 85%);
  outline: 2px solid color-mix(in srgb, var(--active-color), white 40%);
}

.post-i-btn svg {
  width: 100%;
  filter: invert(0);
}

.post-btn-group:has(.post-i-btn:hover) {
  color: var(--active-color) !important;
}


.post-i-btn:hover svg path,
.post-i-btn:focus-visible svg path {
  stroke-color: var(--active-color);
}

.post-i-btn.active svg {
  fill: var(--active-color);
}

.post-btn-group:has(.post-i-btn.active),
.post-btn-group:has(.post-i-btn:focus-visible) {
  color: var(--active-color) !important;
}


.post-i-btn.active svg path {
  stroke: var(--active-color);
}


.thread-line {
  background-color: rgb(51, 54, 57);
  width: 2px;
  flex-grow: 1;
  margin-bottom: -30px;
  margin-top: 2px;
}