.post-container {
  display:flex;
  flex-direction: row;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  gap: .5rem;
}

.post-p-pic {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}

.post-p-pic img,
.post-p-pic svg {
  border-radius: 50%;
  display: block;
}

.name:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.show-more {
  background-color: var(--background-color);
  color: var(--link-color);
  border: none;
  outline:none;
  cursor: pointer;
  padding: 0;
  font-size: var(--fs-m);
}

.show-more:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  
}

.more-btn {
  border: 50%;
  height: 18.75px;
  width: 18.75px;
  position: relative;
}

.more-btn div {
  top: 50%;
  left:50%;
  translate: -50% -50%;
  position: absolute;
  height: 34.75px;
  width: 34.75px;
  border-radius: 50%;

}

.more-btn div:hover {
  background-color: color-mix(in srgb, var(--secondary-color), transparent 85%);
}

.more-btn svg {
  width: 100%;
  filter: invert(.5);
}

.more-btn:hover svg {
  filter: invert(0);
}

.more-btn:hover svg path {
  stroke: var(--secondary-color);
}