.profile-popup {
  position: absolute;
  border: 1px solid var(--border-color);
  width: 320px;
  background-color: var(--background-color);
  border-radius: 20px;
}

.p-img {
  height: 60px;
  width: 60px;
}

.p-img img {
  border-radius: 50%;
}


.f-btn {
  background-color: var(--text-color);
  border-radius: 9999px;
  color: var(--background-color);
  padding: 10px 20px;
  height: fit-content;
  font-size: var(--fs-m);
  font-weight: bolder;
  cursor: pointer;
  border:none;
}

.p-username {
  font-size: calc(var(--fs-medium) - 1px);
}

.p-name {
  font-size: calc(var(--fs-medium) + 1px)
}