.topbar {
  min-height: var(--top-bar-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--top-bar-color);
  backdrop-filter: var(--top-bar-backdrop);
  z-index: 3;
}

.topbar:has(> *:nth-child(2)) {
  flex-direction: column;
  gap: 0;
}

.topbar button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: 7px;
  cursor: pointer;
  height: 36px;
  width: 36px;
  box-sizing: border-box;
}

.topbar button:hover {
  background-color: color-mix(in srgb, var(--background-color) 90%, var(--text-color) 10%);
}

.topbar button:active {
  background-color: color-mix(in srgb, var(--background-color) 80%, var(--text-color) 20%);
}

.topbar button svg {
  height: 100%;
  object-fit: contain;
}