:root {
  --background-color: black;
  --primary-color: #888;
  --secondary-color: #61dafb;
  --text-color: white;
  --transparent-100: rgba(20,20,20,.95);

  --fs-small: clamp(0.625rem, 0.5847rem + 0.2151vw, 0.875rem);
  --fs-medium: clamp(0.875rem, 0.8347rem + 0.2151vw, 1.125rem);
  --fs-xlarge: clamp(1.4375rem, 1.2401rem + 1.0526vw, 2.1875rem);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
}


#back-btn {
  z-index: 2;
  font-size: calc(var(--fs-xlarge)-5px);
  display: inline-flex;
  align-items: left;
  justify-content: center;
  margin-right: 1rem;
}

.back-icon {
  display: inline;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.form-title {
  flex: 1;
  text-align: start;
  margin: 0;
  font-size: var(--fs-xlarge);
}

.button-reset {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: fit-content;
  padding-inline: 0;
  padding-block:0;
}

.inline-block {
  display: inline-block !important;
}

.link {
  cursor: pointer;
  color: rgb(23, 108, 255);
}

.bolder {
  font-weight: bolder !important;
}

.relative {
  position: relative !important;
}

.center {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.fs-xl {
  font-size: var(--fs-xlarge) !important;
}

.fs-m {
  font-size: var(--fs-medium) !important;
}

.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: 0 auto !important;
}

.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-center {
  align-items: center !important;
}

.gap-1 {
  gap: .5rem !important;
}

.gap-2 {
  gap: 1rem !important;
}

.w-100 {
  width: 100% !important; 
}

hr {
  border: 1px solid transparent ;
  border-top: 1px solid var(--primary-color);
  margin: 0;
}

.spinner {
  height: var(--fs-xlarge);
  aspect-ratio: 1 / 1;
  max-height: 80%;
  border: 5px solid transparent;
  border-top: 5px solid var(--background-color);
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.btn-group {
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--primary-color);
  padding: 3rem 3rem 5rem 3rem;
  border-radius: 15px;
  width: 550px;
  box-sizing: border-box;
}

.form-wrapper form {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-group {
  width: 100%;
  height: calc(70px + var(--fs-small));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.form-button {
  display: block;
  width: 100%;
  height: 55px;
  font-size: 18px;
  border-radius: 55px;
  border: none;
  background: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  transition: background-color ease-in 0.1s;
}

.form-button:hover {
  background-color: var(--text-color);
}


.input-error {
  color: var(--error-color); 
  font-size: var(--fs-small);
  padding: 0rem 0.5rem .35rem;
}


.password-hint {
  color: var(--primary-color);
  font-size: var(--fs-small);
  padding: .5em 0 0 .5em;
}


.App-link {
  color: #61dafb;
}


@media (max-width: 700px) {
  .form-wrapper {
    width: 90%;
    padding: 2rem 1.5rem 4rem 1.5rem;
  }
}

@media (max-width: 500px) {
  .btn-group {
    grid-template-columns: auto;
  }
  .form-wrapper {
    width: 95%;
    padding: 1.5rem 1rem 3rem 1rem;
  }
}


