:root {
  --top-bar-height: 53px;
}

.home-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

main {
  margin-right: 2rem;
}

.main-content {
  width: 600px;
  height: 100%;
  max-inline-size: 600px;
  min-width: 0px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.alt-content {
  width: 350px;
}

@media (max-width: 1080px) {
  .alt-content {
    display:none
  }
  main {
    flex: 1;
    max-width: 600px;
    margin-right: 0px;
  }

  .main-content {
    width: initial;
    max-width: 600px;
  }
}

