:root {
  --error-color: red;
  --error-background: rgb(70, 0, 0, .8);
  --success-color: rgb(40, 167, 59);
  --success-background: rgb(10, 41, 14, .8);
  --warning-color: rgb(255, 193, 7);
  --warning-background: rgb(63, 48, 2, .8);
  
  --error-icon: url('/public/svg/error.svg');
  --success-icon: url('/public/svg/success.svg');
  --warning-icon: url('/public/svg/warning.svg');
}


.error .message .icon {
  background-image: var(--error-icon);
}

.success .message .icon {
  background-image: var(--success-icon);
}

.warning .message .icon {
  background-image: var(--warning-icon);
}

.error {
  border-color: var(--error-color) !important;
  background-color: var(--error-background) !important;
}

.error::after {
  background-color: var(--error-color);
}

.success {
  border-color: var(--success-color) !important;
  background-color: var(--success-background) !important;
}
.success::after {
  background-color: var(--success-color);
}

.warning {
  border-color: var(--warning-color) !important;
  background-color: var(--warning-background) !important;
}
.warning::after {
  background-color: var(--warning-color);
}

.message-card {
  z-index: 3;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: .5vw;
  width: 100%;
  padding: 5px 0px;
  position: relative;
  overflow: hidden;
}

.message-card::after {
  content: " ";
  display: inline-block;
  width: 0;
  height: 4px;
  bottom: 0; 
  left: 0;
  position: absolute;
  animation: messageBar 10s linear;
}

@keyframes messageBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 7px;
  top: 46%;
  transform: translateY(-50%);
}

.message {
  position: relative;
  padding: 6px 25px 12px 40px;
  max-width: 400px;
}

.message button {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--text-color);
  padding: 0;
}

.message-track {
  position: fixed;
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
  top:0;
  right:0;
  height: 100svh;
  width: 400px;
  padding: 1rem;
  gap: 1rem;
}

@media (max-width: 500px) {
  .message-track {
    width: 100vw;
  }
}
