header {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  justify-content: flex-end;
  --header-width: 275px;
}

header > div {
  width: var(--header-width);
}

.nav-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.nav-btns {
  display: flex;
  flex-direction: column;
  align-items:start;
  width: 100%;
}

.nav-btns button {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: var(--fs-large);
  padding: 12px;
  border-radius: 9999px;
  background-color: transparent;
  color: var(--text-color);
  border:none;
  cursor: pointer;
}

.nav-btns button:hover {
  background-color: color-mix(in srgb, white 10%, var(--background-color) 90%);
}

.nav-btns button:focus-visible {
  outline: 2px solid white;
}

.nav-btns button > span {
  margin-left: 20px;
  margin-right: 16px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: transparent;
}


.nav-icon {
  width: 1.75rem;
  height: 1.75rem;
  min-height: 0px;
}

.nav-icon svg {
  width: 100%;
  object-fit: contain;
}

.profiles-btn {
  padding: 12px;
  border: none;
  border-radius: 9999px;
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  cursor: pointer;
  font-size: var(--fs-medium);
  overflow: hidden;
}

.profiles-btn:hover {
  background-color: color-mix(in srgb, var(--background-color) 90%, var(--text-color) 10%);
}

.profiles-pic {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  background-color: color-mix(in srgb, var(--background-color) 80%, var(--text-color) 20%);
  border-radius: 50%;
}


.profiles-text {
  margin-left: 12px;
  margin-right: 12px;
  display: block;
  flex-direction: column;
  align-items: start;
  flex:1;
  min-width: 0;
}

.profiles-text div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.profiles-text span {
  text-align: start;
}

@media (max-width: 1260px) {
  header {
    --header-width: 88px
  }

  .nav-btns button > span {
    display: none;
  }

  .profiles-btn {
    width: fit-content
  }

  .nav-btns {
    align-items: center;
  }

  .profiles-text {
    display:none;
  }
}
