
.input-text {
  position: relative;
  display: flex;
  align-items: end;
  width: 100%;
  height: 55px;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px var(--primary-color);
  cursor: text;
}

.input-text input {
  display: block;    
  width: 100%;         
  height: 20px;        
  padding: 0px 10px 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background: transparent;
  color: var(--text-color);
}

.input-text input:not(:placeholder-shown) {
  background: transparent;
  border: none;
  outline: none !important;
}

.input-text :focus-visible {
  background: transparent;
  border: none;
  outline: none !important;
}

.input-info {
  position: absolute;
  top:50%;
  translate: -50% -50%;
  right: 5px;
  display: flex;
  justify-content: center;
}

.info-btn {
  color: var(--primary-color);
  font-size: 20px;
  font-family: 'Inknut Antiqua', serif;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.popover {
  position: absolute;
  top:0;
  right:0;
  z-index: 2;
  width: fit-content;
  width: 300px;
  background-color: var(--transparent-100);
  border: 1px solid var(--primary-color);
  padding: 10px;
}


.popover-content {
  display: inline-block;
  max-width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
}


.placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--primary-color);
  transition: all 0.15s ease;
  user-select: none;
  cursor: text;
}

/* Autofill styles for input fields */
.input-text input:-webkit-autofill,
.input-text input:-webkit-autofill:focus,
.input-text input:-webkit-autofill:hover,
.input-text input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
  border: none !important;
  color: var(--text-color) !important;
  outline: none !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input-text input:-internal-autofill-selected {
  background-color: black !important;
  border: none !important;
  color: var(--text-color) !important;
  outline: none !important;
}

.input-text input:focus + .placeholder,
.input-text input:not(:placeholder-shown) + .placeholder {
  top: 25%;
  font-size: 12px;
}

.input-text input:focus:valid + .placeholder{
  color: var(--secondary-color);
}

.input-text:has(input:focus:valid) {
  border-color: var(--secondary-color);
}

.input-text input:focus:invalid + .placeholder{
  color: var(--error-color);
}

.input-text:has(input:focus:invalid) {
  border-color: var(--error-color);
}
